/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #ffc2e6;
  --main-color: #353430;
  --main-title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --title-color: #353430;
  --section-title-color: #353430;
  --decore-color: #353430;
  --decore-color-transparency: rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffc2e6;
    --main-color: #353430;
    --main-title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --title-color: #353430;
    --section-title-color: #353430;
    --decore-color: #353430;
    --decore-color-transparency: rgba(50, 49, 45, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }

  .theme-auto .header__decorated-element {
    display: none;
  }
}
