/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --main-font: "IBM Plex Mono", sans-serif;
  --main-font-size: 18px;
  --main-color: #f1b2ce;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --title-color: #000028;
  --section-title-color: #ff0070;
  --decore-color: #ff0070;
  --decore-color-transparency: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --large-margin: 50px;
  --medium-margin: 20px;
  --small-margin: 10px;
  --small-padding: 10px;
}

@media (width >= 768px) {
  :root {
    --small-padding: 20px;
    --large-margin: 80px;

  }
}
